<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration success email</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <h2 style="color: #333;">Welcome to TransportHub!</h2>
        <p>Dear {{ customer_name }},</p>
        <p>We are thrilled to welcome you to <strong>{{ customer_fullname }}</strong>! Thank you for choosing us as your platform for <em>brief description of your application's purpose</em>.</p>
        <p>Your account has been successfully created with account number <strong>{{ account_number }}</strong> which you can use to make deposits, and you are now part of our community. Here are a few things you can do to get started:</p>
        <ol>
            <li>Explore our platform and discover the features tailored to meet your needs.</li>
            <li>Complete your profile to personalize your experience.</li>
            <li>Start booking buses and enjoy convenient transportation services.</li>
            <li>Reach out to our support team if you have any questions or need assistance.</li>
        </ol>
        <p>We are committed to providing you with a seamless and enjoyable experience. If you have any feedback or suggestions, we would love to hear from you.</p>
        <p>Thank you for joining us on this journey. We look forward to serving you and ensuring your satisfaction with <strong>TransportHub Uganda</strong>.</p>
        <p>Best regards,<br>TransportHub Uganda team</p>
    </div>
</body>
</html>